<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>signup</title>
	<style type="text/css">
	body,input{
		margin: 0;
		padding: 0;
		background-image: url("http://www.rentacarnoosa.com.au/wp-content/uploads/2015/12/rent-car-noosa-hire-airport-transfers-BG-3.jpg");
		background-size: 100%;

    background-repeat: no-repeat;
	}
	input{
		display: inline-block;
		background: #fff;
	}
	.container{
		width: 100%;
	}
	.register-box{
		/*position: relative;*/
		height: 800px;
		width: 800px;
		top: 50px;
		margin: 3em auto;
		z-index: 99999;
		background:#ffffff;
		border: 7px solid #ccc;
	}
	.title-box{
		position: absolute;
		width: 300px;
		height: 50px;
		margin-left: 250px;
		margin-top: 5px;
		text-align: center;
		font-size: 28px;
		font-weight: 800;
		color: #ff5000;
		line-height: 50px;
	}
	.username-box{
		position: absolute;
		width: 520px;
		height: 40px;
		line-height: 40px;
		margin-top:100px;
		margin-left:80px;
		font-weight: 700;
	}
	.username-input{
		display: inline-block;
		margin-left: 75px;

	}
	#username{
		height: 35px;
		width: 300px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}

	.userPassword-box{
		position: absolute;
		width: 520px;
		height: 40px;
		line-height: 40px;
		margin-top:180px;
		margin-left:80px;
		font-weight: 700;
	}
	.userPassword-input{
		display: inline-block;
		margin-left: 91px;
	}
	#userPassword{
		height: 35px;
		width: 300px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}
	.userRePassword-box{
		position: absolute;
		width: 520px;
		height: 40px;
		line-height: 40px;
		margin-top:260px;
		margin-left:80px;
		font-weight: 700;
	}
	.userRePassword-input{
		display: inline-block;
		margin-left: 28px;
	}
	#userRePassword{
		height: 35px;
		width: 290px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}
	.userPhone-box{
		position: absolute;
		width: 520px;
		height: 40px;
		line-height: 40px;
		margin-top:340px;
		margin-left:80px;
		font-weight: 700;
	}
	.userPhone-input{
		display: inline-block;
		margin-left: 48px;
	}
	#userPhone{
		height: 35px;
		width: 290px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}
	.userEmail-box{
		position: absolute;
		width: 520px;
		height: 40px;
		line-height: 40px;
		margin-top:420px;
		margin-left:80px;
		font-weight: 700;
	}
	.userEmail-input{
		display: inline-block;
		margin-left: 58px;
	}
	#userEmail{
		height: 35px;
		width: 290px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}

	.useraddress-box{
		position: absolute;
		width: 520px;
		height: 40px;
		line-height: 40px;
		margin-top:500px;
		margin-left:80px;
		font-weight: 700;
	}
	.useraddress-input{
		display: inline-block;
		margin-left: 98px;
	}
	#useraddress{
		height: 35px;
		width: 290px;
		border: 2px solid #ccc;
		border-radius: 5px;
	}
	.require{
		color: red;
	}
	.submit-box{
		position:absolute;
		width: 80px;
		height: 40px;
		line-height: 40px;
		margin-top: 580px;
		margin-left:300px;
		border-radius: 5px;
		background: grey;
	}
	#submit-button{
		display: inline-block;
		width: 80px;
		height: 40px;
		border-radius: 5px;
		background: red;
	}
	.goLogin-box{
		position:absolute;
		width: 150px;
		height: 20px;
		margin-top: 600px;
		margin-left:520px;

	}

	</style>
</head>

<body>
	<div class="container">
		<div class="register-box">
			<div class="title-box">
				<span>User Registration</span>
			</div>
			<form action="/register" method="post">
				{% csrf_token %}

				<div class="username-box">
					<span class="require">*</span>
					<label for="username">User Name</label>
					<div class="username-input">
						<input type="text" id="username" name="username" placeholder="Please enter a user name" required>

					</div>

				</div>


				<div class="userPassword-box">
					<span class="require">*</span>
					<label for="userPassword">Password</label>
					<div class="userPassword-input">
						<input type="password" id="userPassword" name="userPassword" placeholder="Please enter a password of 6-12 characters in length" required>
					</div>
				</div>

				<div class="userRePassword-box">
				<span class="require">*</span>
						<label for="userRePassword">Confirm Password</label>
					<div class="userRePassword-input">
						<input type="password" id="userRePassword" name="userRePassword" placeholder="Please enter password again" required>
					</div>
				</div>

				<div class="userPhone-box">
					<span class="require">*</span>
					<label for="userPhone">Phone Number </label>
					<div class="userPhone-input">
						<input type="text" id="userPhone" name="userPhone" placeholder="Please enter a valid number" required>
					</div>
				</div>

				<div class="userEmail-box">
					<span class="require">*</span>
					<label for="userEmail">Email Address</label>
					<div class="userEmail-input">
						<input type="text" id="userEmail" name="userEmail" placeholder="Please enter a valid email address，e.g.：123@gmail.com" required>
					</div>
				</div>

				<div class="useraddress-box">
					<span class="require">*</span>
					<label for="useraddress"> Address</label>
					<div class="useraddress-input">
						<input type="text" id="useraddress" name="useraddress" placeholder="Please enter a  address" required>
					</div>
				</div>

				<div class="submit-box">
					<input id = "submit-button" type="submit" value="Submit">
				</div>

				<div class="goLogin-box">
					<a href="/" style="text-decoration: none;">Home page</a>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
{% endblock %}
