<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-4 mx-auto" style="text-align: center;">
<h1>You have logout</h1>
<button class="btn btn-info my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/'">Back to Homepage</button>
</div>
</div>

{% endblock %}