<!DOCTYPE html>
{% extends 'base.html' %}
    <link href="carousel.css" rel="stylesheet">
{% block content %}
{% load static %}
<style type="text/css">
  #background{

    background-image: url("{% static 'pictures/hd-wallpaper-macro-splash-67843.jpg' %}");
    background-size: cover;
  }
  .first_carousel{
    background:#777;
  }
  .carimg{
    background-image: url("{% static 'pictures/adults-analysis-brainstorming-1661004.jpg' %}");
    background-size: cover;
  }
</style>
  <div class="infobox">
    <div id="background" class="row">
      <div class="col-sm-6">
        <table class="table table-dark table-striped table-hover text-left m-3">
        <thead>
          <tr>
            <th>Q & A</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>What is intelligent water meter system?</td>
          </tr>
          <tr>
            <td>How do we apply?</td>
          </tr>
          <tr>
            <td>How can I manage my account?</td>
          </tr>
        </tbody>
        </table>
      </div>
      <div id="btnbox"class="col-sm-3 offset-3 ">
        <div class = "row">
            <div class="col-sm-4 m-1 p-2">
              {% if user.is_authenticated %}
                {%if user.is_staff %}
                <a href="/adminDash" class="btn btn-info d-block stretched-link">
                {% else %}
                  <a href="/dashboard" class="btn btn-info d-block stretched-link">
                {% endif %}
              {% else %}
              <a href="" class="btn btn-info d-block stretched-link" data-toggle="modal" data-target="#modalLoginForm">
                {% endif %}
            <h2>
              <i class="fas fa-user-circle"></i>
            </h2>
            {%if user.is_staff %}
            <div class="w-100"></div>Manage
            {% else %}
            <div class="w-100"></div>Account
            {% endif %}
          </a>
            </div>
            <div class="col-sm-4 m-1 p-2">
              {% if user.is_authenticated %}
                {%if user.is_staff %}
                <a href="/chatroom" class="btn btn-info d-block stretched-link">
                {% else %}
                  <a href="/chatroom/{{user.get_username}}" class="btn btn-info d-block stretched-link">
                {% endif %}
              {% else %}
              <a href="" class="btn btn-info d-block stretched-link" data-toggle="modal" data-target="#modalLoginForm">
                {% endif %}
              <!-- <a id="go_chat" class="btn btn-info d-block stretched-link"> -->
            <h2>
              <i class="far fa-comments"></i>
            </h2>
            <div class="w-100"></div>Chat
          </a>
            </div>
        </div>
        <div class = "row">
            <div class="col-sm-4 m-1 p-2">
              <a href="/invoice" class="btn btn-info d-block stretched-link">
            <h2>
              <i class="fas fa-file-invoice-dollar"></i>
            </h2>
            <div class="w-100"></div>Pay Bill
          </a>
          </div>
          <div class="col-sm-4 m-1 p-2">
            {% if user.is_authenticated %}
                {%if user.is_staff %}
                <a href="/adminDash" class="btn btn-info d-block stretched-link">
                {% else %}
                  <a href="/dashboard #water" class="btn btn-info d-block stretched-link">
                {% endif %}
              {% else %}
              <a href="" class="btn btn-info d-block stretched-link" data-toggle="modal" data-target="#modalLoginForm">
                {% endif %}
            <h2>
              <i class="fas fa-search-dollar"></i>
            </h2>
            </h2>
            {%if user.is_staff %}
            <div class="w-100"></div>Usage
            {% else %}
            <div class="w-100"></div>Usage
            {% endif %}
          </a>
          </a>
         </div>
       </div>
      </div>
      <script>
        document.querySelector('#go_chat').onclick = function(e) {
            var roomName = "{{ user.get_username }}";
            window.location.pathname = '/' + roomName + '/';
        };
      </script>
  </div>
</div>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
     	<div class="carousel-item active">
	       <img src="{% static 'pictures/data-data-center-electronics-325223.jpg' %}" width="100%" height="250">
	        <div class="container">
	          <div class="carousel-caption text-left">
	            <h1 class="first_carousel" >Intelligent Water Meter System</h1>
	            <p class="first_carousel">We provide intelligent water meter service, an easiest way to manage your consumption</p>
	          </div>
	        </div>
     	</div>
      <div class="carousel-item">
        <svg class="carimg" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>We Provide Service</h1>
            <p>We provide many intelligent service which maker your live easier</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'pictures/art-blank-cardboard-1111368.jpg' %}" width="100%" height="250">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Live Chart with Us</h1>
            <p>Chat with our professonal consultants to get more details</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
{% endblock %}