
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      body {
        padding-top: 3rem;
        background-color:#F4F6F6 ;
      }
      .content{
        padding: 2rem 1.5rem;
      }
      #myCarousel{
        padding-top: 1rem;
      }
      #btnbox{
        float: right;
      }
/*      p {
        color:white;
        text-align:left;
      }*/
    </style>
  </head>
<body data-spy="scroll" data-target=".navbar" data-offset="0">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Utilities Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        
      </ul>
      {% if user.is_authenticated %}
      <li class="nav-link" style="color:white">Hi, {{ user.get_username }}   </li> 
      {% if user.is_staff %}
        <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/adminDash'">Admin Dashboard</button>
      {% else %}
        <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/dashboard'">My Dashboard</button>  
      {% endif %}  
      <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/logout'">Logout</button>        
      {% else %}
      <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" data-toggle="modal" data-target="#modalLoginForm">Login</button>
      <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/register'">Register</button>
      {% endif %}
<!--       <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
 -->      </div>
    </nav>
  </header>
    <div class="content">
      <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action='signup' method="post">
        {% csrf_token %}
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="username" name="username" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Username</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="password" name="password" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
        </div>

      </div>
      <span style="color:red;">{{ errmsg }}</span>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>
    </form>
    </div>
  </div>
</div>

      {% block content %}
      {% endblock %}
  </div> 
<footer class="container pt-4 my-sm-5 pt-sm-5 border-top">
    <div class="row">
      <div class="col-12 col-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#" data-toggle="modal" data-target="#modalLoginForm">Login</a></li>
          <li><a class="text-muted" href="/register">Register</a></li>
          <li><a class="text-muted" href="/invoice2">Pay Bill</a></li>
          <li>{% if user.is_authenticated %}
                {%if user.is_staff %}
                <a href="/chatroom" class="text-muted">
                {% else %}
                  <a href="/chatroom/{{user.get_username}}" class="text-muted" style="color:white;">
                {% endif %}
              {% else %}
              <a href="" class="text-muted" data-toggle="modal" data-target="#modalLoginForm">
                {% endif %}Live Chat</a></li>
        </ul>
      </div>
    <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/">Home</a></li>
          <li><a class="text-muted" href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
    $('body').scrollspy({ target: '.navbar' });
    </script>

</body>
</html>
