<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
<!--     What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/> -->
     <div class="row">  
        <div class="col-6 mx-auto" style="overflow-y: scroll; height: 500px;">
             <h2>Chat Room Message</h2>
       <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Author</th>
          <th>Message</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for i in c %}
        {%if i.author != "admin"%}
          <tr>
            <td>
              <a href="/chatroom/{{i.author}}">{{ i.author}}</a>
            </td>
            <td>
              {{ i.content}}
            </td>
            <td>
                {{i.timestamp}}
            </td>
          </tr>
          {%endif%}
          {% endfor %}
      </tbody>
    </table>
</div>
</div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chatroom/' + roomName + '/';
            // window.location.pathname = '/' + roomName + '/';
        };
    </script>
</body>
{%endblock%}
</html>