<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<style>
    p{
        color: black;
    }
    #chat-log p{
        max-width: 300px;
    }
    .replies{
        display: block;
        clear: both;
    }
    .sent{
        display: block;
        clear: both;
    }
    .replies p{
        border-radius: 20px;
        padding: 10px 15px;
        background: #435f7a;
        color: white;
        float: right;
        display: inline-block;
    }
    .sent p{
        border-radius: 20px;
        padding: 10px 15px;
        background: #F5F5F5;
        display: inline-block;
    }
    #chat_room{
        max-width: 500px;
        height: 250px;
        overflow-y: scroll;
        overflow: auto;
        background-color:#f8f9fa;
        /*overflow-x: hidden;*/
    }
    #chat-message-input{
        max-width: 250px;
    }
    #chat-message-submit{
        background-color: #32465a;
        border-radius: 0.5em;
        color: #f5f5f5;
        width: 50px;
        padding: 1px;
        font-size: 20px;
    }
    #fromWho{
        text-align: left;
        width: 200px;
    }
    #contact_name{
        border-radius: 1em;
        background-color: #f8f9fa;;
    }
</style>
<div class="contact-profile col-4 my-sm-2 mx-auto">
    <div class="row p-2 border" id="contact_name">
    <div class="col-2;" style="font-size: 20px; text-align: center;"><i class="fas fa-user-alt"></i></div>
    <div class="col-auto pl-1" id="fromWho" style="font-size: 20px">Admin</div>
    </div>
    </div>
    <div id="chat_room"class="container pt-1 my-sm-2 pt-sm-1 border">
        <div id="chat-log" cols="50" rows="200">
        </div><br/>
    </div>
    <div class="container w-25 my-sm-2">
        <input id="chat-message-input" type="text" size="100"/>
        <!-- <input id="chat-message-submit" type="button" value="Send"/> -->
          <button id="chat-message-submit" > <i class="fas fa-paper-plane"></i></button>
    </div>
{% if user.is_authenticated %}
<script>
    $("#chat_room").animate({ scrollTop: $(document).height() }, "fast");
    var roomName = {{ room_name_json }};
    var from;
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chatroom/' + roomName + '/');

    chatSocket.onopen = function(e){
        fetch_message();
    };
    // to def chat_message : incomming message
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
         if(data['command'] === 'msg'){
            for(let i = data['messages'].length; i > 0; i--){
                create_message(data['messages'][i-1]);
            }
        }else if(data['command'] == 'message_to_db'){
            $("#chat_room").animate({ scrollTop: $(document).height() }, "fast");
                create_message(data);
            }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();

        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var author = "{{user.get_username}}";
        chatSocket.send(JSON.stringify({
            // 'header' : "<p class='" + author+ "'>", 
            'message': message,
            'author' : author,
            // 'footer' : "</p>",
            'command': 'message_to_db',
        }));
        messageInputDom.value = '';
        $("#chat_room").animate({ scrollTop: $(document).height() }, "fast");
    };
    function fetch_message(){
        chatSocket.send(JSON.stringify(
            {'message': '',
            'author' : '',
            'command':'message_from_db'}));
    };
    function create_message(data){
        // var message = data['message'];
        var author = data['author'];

        // var header = data['header'];
        // var footer = data['footer'];
        var msgListTag = document.createElement('ls');
        var pTag = document.createElement('p');
        pTag.innerHTML = data.message;
        // document.querySelector('#chat-log').innerHTML += (header + message + ' from '+ author + footer);
        $(document).ready(function(){
            $('.' + author ).css("color", "red");

        });
        if(author === '{{user.get_username}}'){
            msgListTag.className ='replies';
        }else{
            document.getElementById("fromWho").innerHTML = author;
            msgListTag.className ='sent';
        }
        msgListTag.appendChild(pTag);
        document.querySelector('#chat-log').appendChild(msgListTag);
    };
</script>
{% endif %}
{% endblock %}
</html>