<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<style>
* {
  box-sizing: border-box;
}

p {
  color:grey;
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  margin:auto;
  width:50%;
  padding:10px;
}

.title {
  text-align:left;
}

body {
  position: relative;
}

</style>



{% if user.is_authenticated %}
<div class="row">
  <nav class="navbar navbar-light bg-light position-fixed" id="navbar">
    <nav class="nav flex-sm-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" href="#info">Personal Info</a>
      <a class="nav-link" href="#chartContainer">Consumption</a>
      <a class="nav-link" href="#bill">Bill</a>
      <a class="nav-link" href="#bal">Account balance</a>
      <a class="nav-link" href="#pay">Payment</a>
    </nav>
  </nav>



  <div class="box">
    <h4 class="col-6 mx-auto" id="info">Welcome Back , {{ r.UserName }} </h4>
    <div class="col-6 p-1 mx-auto" id="pwd" style="text-align: center;">
      <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" style="font-size: 10px"type="submit" onclick="location.href='/changepwd'">Change Password</button>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Personal Info</th>
          <th><button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/edit'">Edit</button> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Username</td>
          <td>{{ r.UserName }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ r.emailaddress }}</td>
        </tr>
        <tr>
          <td>Home address</td>
          <td>{{r.homeAddress}}</td>
        </tr>
        <tr>
          <td>Phone number</td>
          <td>{{r.phoneNumber}}</td>
        </tr>
        <tr>
          <td>Birthday</td>
          <td>{{r.birth}}</td>
        </tr>
      </tbody>
    </table>
<script>
window.onload = function () {
  var chart = new CanvasJS.Chart("chartContainer", {
    exportEnabled: true,
    animationEnabled: true,
    title:{
      text: "Water Usage"
    },
    axisX: {
      title: "Quater"
    },
    axisY: {
      title: "Consumption - kL",
      titleFontColor: "#4F81BC",
      lineColor: "#4F81BC",
      labelFontColor: "#4F81BC",
      tickColor: "#4F81BC"
    },
    toolTip: {
      shared: true
    },
    legend: {
      cursor: "pointer",
      itemclick: toggleDataSeries
    },
    data: [{
      type: "column",
      name: "Water Usage",
      showInLegend: true,      
      yValueFormatString: "#,##0.# Kilo Liter",
      dataPoints: [
      {%for i in result %}
        { label: "Quater{{forloop.counter}}",  y: {{i.waterUsage}}},
      {%endfor%}
       { label: "Average",  y: {{avg}}},
      ]
    }]
  });
  chart.render();

  function toggleDataSeries(e) {
    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
      e.dataSeries.visible = false;
    } else {
      e.dataSeries.visible = true;
    }
    e.chart.render();
  }
}
</script>
<div class="p-2"id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  
  <div class="p-2">
    <h4 > Bill :</h4>
    <h2> ${{r.bill.amount }} </h2>
    <p> Due by {{r.bill.dueDate }} </p>
    <h4> Account Balance : </h4>
    <h2> ${{r.balance.accountBalance }} </h2>

    <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/checkout'" id="pay">Make a Payment</button>
  </div>

  </div>

</div>


{% else %}
<h1>You Don't Have Access Here, Please Login.</h1>
{% endif %}


{% endblock %}