<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<style>
p {
  color:black;
}

</style>

<div class="container">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit">Submit</button>
  </form>
  <br>
</div>




{% if user.is_authenticated %}

{% else %}
<h1>You Don't Have Access Here, Please Login.</h1>
{% endif %}


{% endblock %}
