<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<style>

.box {
  float: left;
  width: 50%; 
}

span{
  color:grey;
  display:block;
}
</style>


<div>
  <div class="box">
    <h3>Our location</h3>    
    <span>QUT Garden Point Campus</span>
    <span>2 George St, Brisbane City QLD 4000</span>     
    </br>
    <h3>Call us</h3>
    <span style="text-decoration:underline">12 34 56</span>    
    </br>
    <h3>Email us</h3>
    <span style="text-decoration:underline">example@hotmail.com</span>    
    </br>
    <h3>Chat room</h3>
    <button class="btn btn-info my-2 my-sm-0 mr-sm-2" type="submit"> {% if user.is_authenticated %}
                {%if user.is_staff %}
                <a href="/chatroom" class="">
                {% else %}
                  <a href="/chatroom/{{user.get_username}}" class="" style="color:white;">
                {% endif %}
              {% else %}
              <a href="" class="" data-toggle="modal" data-target="#modalLoginForm">
                {% endif %}Live Chat</a></button>
  </div>
  <div class="box">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1488.278637730884!2d153.0281764345003!3d-27.477256495185646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a104c721d41%3A0xaeb9c00d1ef00171!2sQUT+Gardens+Point+Campus!5e0!3m2!1sen!2sau!4v1565787793509!5m2!1sen!2sau" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}