<!doctype html>
{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in </title>
 
    <style type="text/css">

	#login_frame {
    width: 400px;
    height: 260px;
    padding: 13px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
 
    background-color: rgba(200, 255, 255, 1.5);
 
    border-radius: 10px;
    text-align: center;
	}
	 
	form p > * {
		display: inline-block;
		vertical-align: middle;
	}
	 
	#image_logo {
		margin-top: 10px;
		
	}
	.title-box{
		position: absolute;
		width: 300px;
		height: 50px;
		margin-left: 600px;
		margin-top: 5px;
		text-align: center;
		font-size: 28px;
		font-weight: 800;
		color: #ff5000;
		line-height: 50px;
	}
	 
	.label_input {
		font-size: 14px;
		
	 
		width: 65px;
		height: 28px;
		line-height: 28px;
		text-align: center;
	 
		color: white;
		background-color: #3CD8FF;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
	 
	.text_field {
		width: 278px;
		height: 28px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border: 0;
	}
	 
	#btn_login {
		font-size: 14px;
		
	 
		width: 120px;
		height: 28px;
		line-height: 28px;
		text-align: center;
	 
		color: white;
		background-color: #3BD9FF;
		border-radius: 6px;
		border: 0;
	 
		float: left;
	}
	 
	#forget_pwd {
		font-size: 12px;
		color: white;
		text-decoration: none;
		position: relative;
		float: right;
		top: 5px;
	 
	}
	 
	#forget_pwd:hover {
		color: blue;
		text-decoration: underline;
	}
	 
	#login_control {
		padding: 0 28px;
	}
	</style>
    
	
</head>
 
<body>
	<div class="title-box">
		<span>User Login</span>
	</div>
<div id="login_frame">
 
    <form action='signup' method="post">
		{% csrf_token %}
        <p><label class="label_input">username</label><input type="text" id="username" name = 'username' class="text_field"placeholder="Please enter a user name"></p>
        <p><label class="label_input">password</label><input type="password" id="password" name = 'password' class="text_field" placeholder="Please enter a password"></p>
		<span style="color:red;">{{ errmsg }}</span>
        <div class="login_control">
            <input type="submit" id="btn_login" value="log in">
            
        </div>
    </form>
</div>
 
</body>

{% endblock %}