<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<style>
* {
  box-sizing: border-box;
}

p {
  color:grey;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  margin:auto;
  width:50%;
  padding:10px;
}

.title {
  text-align:left;
}

body {
  position: relative;
}

</style>

{% if user.is_authenticated %}
<div class="row">
  <nav class="navbar navbar-light bg-light position-fixed" id="navbar">
    <nav class="nav flex-sm-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" href="#info">Customer Info</a>
      <a class="nav-link" href="#pwd">Security</a>
      <a class="nav-link" href="#water">Water Usage</a>
      <a class="nav-link" href="#i3">Settings</a>
      <a class="nav-link" href="#i4">Phone test</a>
      <a class="nav-link" href="#i5">Birth</a>
    </nav>
  </nav>



  <div class="box">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>User Name</th>
          <th>Email</th>
          <th>Home Address</th>
          <th>Phone</th>
          <th><button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/edit'">Edit</button> </th>
        </tr>
      </thead>
      <tbody>
          <!-- <td>Username</td> -->
          {% for i in c %}
          <tr>
            <td>
              {{ i.id }}
            </td>
            <td>
              {{ i.UserName }}
            </td>
            <td>
              {{ i.emailaddress }}
            </td>
            <td>
              {{ i.homeAddress }}
            </td>
            <td>
              {{ i.phoneNumber }}
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    <div id="pwd">
      <h3 class="display-4" id="info">Security</h3>
      <button class="btn btn-primary my-2 my-sm-0 mr-sm-2" type="submit" onclick="location.href='/changepwd'">Change Password</button>
    </div>

    <h1 class="display-4" id="water" >Current Water Usage </h1>
    <h2> 100L </h2>

  </div>

</div>


{% else %}
<h1>You Don't Have Access Here, Please Login.</h1>
{% endif %}


{% endblock %}
